GitPython==3.1.43
Pillow==9.5.0
PySC2==3.0.0
PyYAML==5.3.1
SMAC==1.0.0
absl-py==2.1.0
atomicwrites==1.4.1
attrs==23.2.0
certifi==2022.12.7
chardet==3.0.4
click==8.1.7
cloudpickle==2.2.1
colorama==0.4.6
cycler==0.11.0
deepdiff==6.7.1
docker-pycreds==0.4.0
docopt==0.6.2
einops==0.6.1
enum34==1.1.10
fonttools==4.38.0
future==1.0.0
gitdb==4.0.11
gym==0.21.0
idna==2.7
imageio==2.31.2
importlib-metadata==4.13.0
jsonpickle==1.5.2
kiwisolver==1.4.5
lbforaging==1.1.1
matplotlib==3.5.3
mock==5.1.0
more-itertools==9.1.0
mpyq==0.2.5
munch==2.5.0
networkx==2.6.3
numpy==1.21.6
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
ordered-set==4.1.0
packaging==24.0
pbr==4.3.0
pip==22.3.1
platformdirs==4.0.0
pluggy==0.7.1
portpicker==1.2.0
probscale==0.2.5
protobuf==3.20.3
psutil==5.9.8
py-cpuinfo==9.0.0
py==1.6.0
pygame==2.5.2
pyglet==2.0.10
pyparsing==2.2.2
pytest==4.3.1
python-dateutil==2.7.3
requests==2.19.1
rware==1.0.3
s2clientprotocol==4.10.1.75800.0
s2protocol==5.0.12.91115.0
sacred==0.8.2
scipy==1.7.3
sentry-sdk==1.9.0
setproctitle==1.3.3
setuptools==65.6.3
six==1.11.0
sk-video==1.1.10
smmap==5.0.1
snakeviz==2.2.0
tensorboard-logger==0.1.0
torch-scatter==2.1.1
torch==1.13.1
torchvision==0.14.1
tornado==5.1.1
typing_extensions==4.7.1
urllib3==1.23
wandb==0.17.0
websocket-client==0.53.0
wheel==0.38.4
whichcraft==0.5.2
wrapt==1.10.11
zipp==3.15.0